*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body > h1 {
  margin: 80px auto;
  text-align: center;
}

img {
  width: 200px;
  cursor: pointer;
  height: auto;
}

img:active {
  transform: scale(1.05);
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#choices-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}